:root {
  --om-turquoise: #01dfb3;
  --om-yellow: #fed634;
  --om-black: #1d1c1f;
  --om-orange: #ffa21f;
  --om-brown: #322510;
  --om-red: #fe3e34;
  --om-white: #dedede;
}

body {
  background: var(--om-turquoise);
  color: var(--om-black);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

main {
  display: none;
  width: 100%;
  height: 100%;
}

main.visible {
  display: block;
}

.hide {
  display: none;
}

header {
  margin: 0px;
  padding: 0 15px;
  background: var(--om-orange);
  display: flex;
  justify-content: space-between;
}

.dialog {
  background: var(--om-orange);
  margin: 20vh auto;
  height: 15rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.textButton {
  color: var(--om-brown);
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: none;
  height: 2rem;
  cursor: pointer;
}

#layoutEditor {
  padding: 2rem;
}

.row {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid var(--om-orange);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.row.addRow {
  border-style: dashed;
}

.slot {
  height: 9rem;
  width: 5.5rem;
  border: 1px solid var(--om-black);
  border-radius: 10px;
  text-align: center;
  color: var(--om-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: var(--om-brown);
}

.slot.addSlot {
  border-style: dashed;
}

.slot.spacer {
  border-color: var(--om-brown);
  color: var(--om-brown);
  background: var(--om-brown);
}

.slot.deck {
  border-color: var(--om-turquoise);
  color: var(--om-turquoise);
}

.slot.foundation {
  border-color: aliceblue;
  color: aliceblue;
}

.slot.waste {
  border-color: rebeccapurple;
  color: rebeccapurple;
  background: var(--om-brown);
}

#slotEditor {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#slotEditor .modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
