:root {
  --om-green: rgb(137, 225, 171);
  --om-lightgreen: rgb(187, 207, 210);
  --om-white: rgb(255, 240, 187);
  --om-orange: rgb(253, 116, 89);
}

body {
  background: var(--om-green);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

main {
  display: none;
  width: 100%;
  height: 100%;
}

main.visible {
  display: block;
}

.hide {
  display: none;
}

header {
  margin: 0px;
  padding: 0 15px;
  background: var(--om-white);
  display: flex;
  justify-content: space-between;
}

.dialog {
  background: var(--om-white);
  margin: 20vh auto;
  height: 15rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.textButton {
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: none;
  height: 2rem;
  cursor: pointer;
}

#layoutEditor {
  padding: 2rem;
}

.row {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid var(--om-orange);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.row.addRow {
  border-style: dashed;
}

.slot {
  height: 9rem;
  width: 5.5rem;
  border: 1px solid var(--om-white);
  border-radius: 10px;
  text-align: center;
  color: var(--om-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: #aaaaaa50;
}

.slot.addSlot {
  border-style: dashed;
}

.slot.spacer {
  border-color: darkgray;
  color: darkgray;
  background: #aaaaaa75;
}

.slot.deck {
  border-color: lightgreen;
  color: lightgreen;
}

.slot.foundation {
  border-color: aliceblue;
  color: aliceblue;
}

.slot.waste {
  border-color: rebeccapurple;
  color: rebeccapurple;
  background: #aaaaaa75;
}
